<html>
  <head>
    <title>Know Ur Tweeps? (Take the Quiz)</title>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function(){
          var correct = 0;
          var tries = 0;

          $("input#begin").click(function(){ 
             $("#play_area").load("/question?name=" + $("input#name").val()) 
             return false
          });

          $("#check").live("click", function(){
            if($(".answer:checked").val() == $("#ca").val()){
              reveal = $("<strong>" + "Woot! so you really know about " + $("#friend").text() +" :)</strong>")
              correct++;
            }
            else
            reveal = $("<strong>Oops! Thats not " + $("#friend").text() + ":(</strong><br/> Correct one is <span>&quot;" + $("label").eq($("#ca").val()).text() + "&quot;</span>");
            $("#result").html(reveal).show();
            percent = Math.round(correct/++tries * 100);
            $("#score").html("You know <strong>" + percent + "%</strong> of your tweeps.");
            $("#tweet").attr("href", "http://twitter.com/home?status=I%20know%20" + percent + "%%20of%20my%20tweeps.%20(via http://tweeps.hackruby.com)");
            $("#play_area").load("/question?name=" + $("input#name").val(), function(){ $("#result").hide()});
            return false
          });
      });
    </script>

  <link rel="stylesheet" type="text/css" href="css/html.css" media="screen, projection, tv " />
  <link rel="stylesheet" type="text/css" href="css/layout.css" media="screen, projection, tv" />
  <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />

  <!-- Conditional comment to apply opacity fix for IE #content background.
       Invalid CSS, but can be removed without harming design -->
  <!--[if gt IE 5]>
  <link rel="stylesheet" type="text/css" href="css/ie.css" media="screen, projection, tv " />
  <![endif]-->
  </head>

  <body>
    <!-- #wrapper: centers the content and sets the width -->
    <div id="wrapper">

    <!-- #content: applies the white, dropshadow background -->
    <div id="content">

    <!-- #header: holds site title and subtitle -->
    <div id="header">
      <h1>Know Ur Tweeps</h1>
      <h2><span class="highlight">Following them blindly or really know them??</span></h2>
    </div>
    
    <div id="page">
      <div id="play_area">
        <form>
          <h3> Kill some time to find out...</h3>
          <input class="bigField" type="text" size="45" id="name"/><br/>
          <div class="buttonrow">
            <input class="button" type="submit" id="begin" value="Lets Begin!"/>
          </div>
        </form>
      </div>

      <div id="result"></div>
      <div id="score"></div>
      <a id="tweet" href="http://twitter.com/home?status=Know%20your%20Tweeps?%20Take%20the%20Quiz%20-%20http://tweeps.hackruby.com">Tweet this!</a>
  
      
      <div id="adblock">
      <script type="text/javascript"><!--
        google_ad_client = "pub-6286546275304481";
        /* 468x60, for tweeps site */
        google_ad_slot = "6840375591";
        google_ad_width = 468;
        google_ad_height = 60;
        //-->
      </script>
      <script type="text/javascript"
        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
      </div>
          <!-- .footer: the site footer text, links and whatever else -->
      <p class="footer">
        Concept &amp; Development by <a href="http://laktek.com">Lakshan Perera</a><br/> 
        Design adopted from <a href="http://fullahead.org" title="Visit FullAhead">FullAhead</a>.  Valid CSS &amp; XHTML with no rights reserved.
      </p>
    </div>
   </div>
  </div>
  </body>
</html>
